@model IEnumerable<MvcTest.Models.Models.OrdersModel>

@{
    ViewBag.Title = "RetriveOrders";
}

<h2>RetriveOrders</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cgst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sgst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaybleAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetPaybleAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cgst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sgst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaybleAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetPaybleAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Detail", "ItemDetail","Home", new { OrderId = item.OrderId},null)
        </td>
    </tr>
}

</table>
